html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif !important;
}

.navbar {
    border: none !important;
    background: rgba(0,0,0,0) !important;
    font-size: 20px;
}

@media only screen and (max-width : 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: white;
  }

  .jumbotron h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 300%;
  }

  #aw {
    font-size:400%;
  }

  .navbar-inverse .navbar-nav li a:hover {
    color: black !important;
  }

  .navbar-inverse .navbar-nav li a {
    color: #9d9d9d !important;
  }
}

@media only screen and (min-width : 768px) {
  .navbar-inverse .navbar-nav li a {
    color: white !important;
  }

  .jumbotron h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
  }

  #aw {
    font-size:600%;
  }

  .navbar-inverse .navbar-nav li a:hover {
    color: grey !important;
  }
}

.navbar-nav {
  margin: 0px -15px !important;
}

.topbar {
    height: 50px;
    width: 100%;
    z-index: 100;
    opacity: 0;
    background-color: #9DB192;
    position: fixed;
}

.navhidden {
    margin-bottom: 0px !important;
    position: absolute;
}

.navhidden .navbar-right {
    margin-right: 0px;
}

.navvisible {
    background-color: transparent !important;
    margin-bottom: 0px !important;
    border-bottom: none;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {

    background-color: transparent !important;
    color: inherit;
}

.form-inline {
    margin-top: 8px;
}

@media (min-width: 993px) {
    .navbar {
        border-radius: 0px !important;
    }
    .venue {
      margin-top: 30px;
    }
}

.jumbotron {

    color: white !important;
    background-color: transparent !important;
    background: url("/assets/trees.png") no-repeat left bottom,
      linear-gradient(
      rgba(135, 178, 63, 0.75),
      rgba(135, 178, 63, 0.75)
    );
    width: 100%;
    height: 100vh;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 1px 10px 0px black;
}


h2 {
  font-family: 'Dancing Script', cursive !important;
  font-size: 400% !important;
  text-shadow: 2px 2px #054C30;
}

p {
  font-size: 125%;
}

.btn {
  width: 150px;
}

#saddr {
  width: 300px;
  color: black;
}

video#vid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.title {
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
    text-shadow: 2px 2px #054C30;
    margin-top: -200px;
}


.content {
    padding: 30px 0px;
    width: 100%;
    margin: 0 auto;
    box-shadow:
      0px 1px 10px 0px black,
      0px -1px 10px 0px black;
    position: relative;

}

#jumbobg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-filter: blur(px);
}

.spacerglyph {
    height: 25%;
    width: 100%;
}



.venue {
  vertical-align: middle;
  align-items: stretch;
}

#content1,
#content2,
#content3,
#content4 {
  height: auto;
  background-color: #054C30;

}

.center {
  text-align: center;
}

#firstsec {
  width: 100%;
  min-height: 400px;
  background-color: #A5C56F;
  color:white;
  padding: 20px;

}

  @media only screen and (min-width : 1024px) {
    .paraimages {
      background-size: cover !important;
      background-color: #6DABD2;
      background-attachment: fixed !important;
    }
  }

  @media only screen and (max-width : 1024px) {
    .paraimages {
      background-size: cover !important;
      background-color: #6DABD2;
      background-attachment: scroll !important;
    }
  }

.first {
  @extend .paraimages;
  background: image-url('/assets/cabin.jpg') 50% 0 no-repeat;
  height: 75vh;
}

.second {
  @extend .paraimages;
  background: image-url('/assets/usandmyla.jpg') 50% 0 no-repeat;
  height: 75vh;
}

.third {
  @extend .paraimages;
  background: image-url('/assets/candykiss.jpg') 50% 0 no-repeat;
  height: 100vh;
}

.fourth {
  @extend .paraimages;
  background: image-url('/assets/ringpop.jpg') 50% 0 no-repeat;
  height: 75vh;
}

.fifth {
  @extend .paraimages;
  background: image-url('/assets/silly.jpg') 50% 0 no-repeat;
  height: 75vh;
}

iframe {
  max-width: 900px;
}

.input-group {
  width: 230px;
  margin: auto;
}

.col-md-6 .inline-input {
  padding: 0px;
}

#submit {
  margin-top: 5px;
}

.image {
  margin-bottom: 20px;
}

#map {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 400px;
  align-content: center;
  border-radius: 5px;
}

#location {
  padding: 110px;
  margin: 30px;
}
