html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif !important;
}

.navbar {
    border: none !important;
    background: rgba(0,0,0,0) !important;
    font-size: 20px;
}

@media only screen and (max-width : 768px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: white;
  }

  .navbar-inverse .navbar-nav li a:hover {
    color: black !important;
  }
}

.navbar-nav {
  margin: 0px -15px !important;
}

@media only screen and (min-width : 768px) {
  .navbar-inverse .navbar-nav li a {
    color: white !important;
  }

  .navbar-inverse .navbar-nav li a:hover {
    color: grey !important;
  }
}
.topbar {
    height: 50px;
    width: 100%;
    z-index: 100;
    opacity: 0;
    background-color: #CFCCC5;
    position: fixed;
}

.navhidden {
    margin-bottom: 0px !important;
    position: absolute;
}

.navhidden .navbar-right {
    margin-right: 0px;
}

.navvisible {
    background-color: transparent !important;
    margin-bottom: 0px !important;
    border-bottom: none;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {

    background-color: transparent !important;
    color: inherit;
}

.form-inline {
    margin-top: 8px;
}

@media (min-width: 993px) {
    .navbar {
        border-radius: 0px !important;
    }
    .venue {
      margin-top: 50px;
    }
}

.jumbotron {

    color: white !important;
    background-color: transparent !important;
    background: linear-gradient(
      rgba(135, 178, 63, 0.75),
      rgba(135, 178, 63, 0.75)
    );
    width: 100%;
    height: 100vh;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
}

#aw {
  font-size:700%;
}
.jumbotron h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
}

h2 {
  font-family: 'Dancing Script', cursive !important;
  font-size: 400% !important;
}

video#vid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-filter: blur(px);
}

.title {
    border-top:5px double;
    border-bottom:5px double;

    background-color: rgba(173,172,167, 0.75);
    padding: 50px 0px 50px 0px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
}

.overlay {
    opacity: 0.80;
    border-top:5px double;
    border-bottom:5px double;
    background-color: rgba(138, 132, 96, 0.75);
    padding: 50px 0px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;

}

#jumbobg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-filter: blur(px);
}

.spacerglyph {
    height: 25%;
    width: 100%;
}



.venue {
  vertical-align: middle;
  align-items: stretch;
}

#content1,
#content2,
#content3 {
  height: auto;
  background-color: #146666;

}

.center {
  text-align: center;
}

#firstsec {
  width: 100%;
  min-height: 400px;
  background-color: #CFCCC5;
  color:white;
  padding: 20px;

}

.first {
  background: image-url('/assets/cabin.jpg') 50% 0 no-repeat fixed;
  height: 75vh;
  background-size: cover;
  background-color: #6DABD2;
}

.second {
  background: image-url('/assets/usandmyla.jpg') 50% 0 no-repeat fixed;
  height: 75vh;
  background-size: cover;
  background-color: #6DABD2;
}

.third {
  background: image-url('/assets/roadisland.jpg') 50% 0 no-repeat fixed;
  height: 75vh;
  background-size: cover;
  background-color: #6DABD2;
}

.fourth {
  background: image-url('/assets/silly.JPG') 50% 0 no-repeat fixed;
  height: 75vh;
  background-size: cover;
  background-color: #6DABD2;
}

iframe {
  max-width: 900px;
}
.input-group {
  max-width: 300px;
  margin: auto;
}

#submit {
  margin-top: 5px;
}

.image {
  margin: 20px;
}

#map {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 400px;
  align-content: center;
  border-radius: 5px;
}

#location {
  padding: 110px;
  margin: 30px;
}
